body{
    background-color: black;
    color: rgb(251, 251, 251);
    font: 1.2rem "Fira Sans", sans-serif;
    
}
section{
    padding: 200px;
    background-image: url(image/xy.jpeg);
    background-size: cover;
    height: 100%;
    width: auto;
    

}
h1{
    text-align: center;
}
#home1{
    font-size: 25;
    height: 150px;
    width: 300px;
    
}
#home2{
    text-align: center;
    width: 250px;
    font-size: 10px;
    border : 2px solid rgb(255, 255, 255);
    border-radius: 50px;


}
.image-container {
    width: 400px;
    height: 500px;
    background-image: url('image/img.jpg');
    background-size: cover;
    position: relative;
    border-radius: 50%;
    position: relative;
    left: 800px;
    bottom:300px  ;
    transform: rotate(16deg);
}
#icon{
    margin: 50px;
    padding: 50px;
    
    width: 100%;
}
img{
    margin-right: 100px;
    
}
#x{
    border : 2px solid rgb(255, 255, 255);
    border-radius: 50px;
    width: 300px;
    text-align: center;
   
}
h2{
    text-decoration: solid;
    color: black;
    text-align: center;
    
}
#page1{
    height: 400px;
}
#page2{
    height: 400px;
}

#page4{
    height: 400px;
}
#page5{
    height: 550px;
}
#logo{
    height: 100px;
    width: 150px;
    margin-left: 850px;
}
#raj{
    border : 2px solid rgb(0, 255, 247);
    background-image: url(image/Untitled\ design\ \(1\).png);
    background-size: contain;
    border-radius: 50px;
    width: 300px;
    text-align: center;
    color: beige;
    border : 2px solid rgb(203, 4, 153);
    border-radius: 50px;
    width: 300px;
    text-align: center;
    font-family: "RedSerif", serif;
}
#kamal{
    border : 2px solid rgb(0, 255, 247);
    background-image: url(image/Untitled\ design\ \(1\).png);
    background-size: contain;
    border-radius: 50px;
    width: 900px;
    text-align: center;
    color: beige;
    border : 2px solid rgb(203, 4, 153);
    border-radius: 50px;
    margin: 150px;
}
#page5{
    height: 400px;
}
#address{
    border : 5px solid rgb(198, 0, 145);
    background-size: contain;
    border-radius: 50px;

}
#contact{
    border : 5px solid rgb(198, 0, 145);
    margin: 10px;
    background-size: contain;
    border-radius: 50px;
    
}
#connect{
    border : 5px solid rgb(198, 0, 145);
    margin: 1px;
    background-size: contain;
    border-radius: 50px;
    align-items: center;
    
}
#ab{
    margin-left: 500 ;
    margin-right: 200px;
    align-items: center;
}